#svg-container svg {
    margin: auto;
}

.light {
    background: #f4f5f5;
}

.dark {
    background: #111217;
}

.filter-button {
    margin: 5px 30px;
}

.links line {
    stroke-opacity: 0.6;
    stroke-width: 1;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

text {
    font-family: sans-serif;
    font-size: 5px;
    font-weight: bold;
}

.label {
    fill: white;
    dominant-baseline: central;
    font-size: 5px;
    /*word-break: break-word;*/
    /*transform: translate(0, 50%);*/
}